---
import { Icon } from 'astro-icon/components';
---

<section class="bg-purple-300 dark:bg-gray-700 dark:text-slate-200 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-2 text-md text-center font-medium">
    <span class="font-bold text-lg">
       My Philosophy:</span> Technology should be accessible to every human, regardless of ability.
  </div>
</section>
