---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: import('~/assets/images/caos.jpg'), alt: 'Caos Image' }}>
    <Fragment slot="title">
      Elevate your online presence with our <br />
      <span class="text-accent dark:text-white highlight"> Beautiful Website Templates</span>
    </Fragment>

    <Fragment slot="subtitle">
      Donec efficitur, ipsum quis congue luctus, mauris magna convallis mauris, eu auctor nisi lectus non augue. Donec
      quis lorem non massa vulputate efficitur ac at turpis. Sed tincidunt ex a nunc convallis, et lobortis nisi tempus.
      Suspendisse vitae nisi eget tortor luctus maximus sed non lectus.
    </Fragment>
  </Hero>


  <Content>
    tagline="Resume"
    title="Where I've worked"
 
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ad vix debet docendi</h3>
       My journey through the tech world hasn't been traditional, but it's been uniquely mine. A few years back, a medical experience illuminated my path. 
       It wasn't just a challenge; it was a catalyst. Recognizing my personal underinvestment in accessibility, I pivoted my focus, determined to create
        digital spaces that genuinely cater to diverse needs. My neurodiverse perspective, fueled by my journey with ADHD and autism, adds a unique dimension
         to my approach—one that places understanding and empathy at the forefront of my design and development endeavors.
<br/><br/>
The intersection of design and accessibility is where I shine, creating digital symphonies that everyone can dance to. So, whether you're here to explore my work, 
collaborate on a project, or just geek out about vintage gear, I'm thrilled to have you join me on this ever-evolving journey.
    </Fragment>

  </Content>

  

  
</Layout>
