---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import ContentFW from '~/components/widgets/ContentFW.astro';


const metadata = {
  title: 'Lizzie Wilkinson - Accessibility Forward Designer and Developer | Kansas City, MO',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    callToAction={{ text: 'Download Resume', target: '_blank', href: '/assets/LWilkinson-Resume-2023.pdf', icon: 'tabler:download' }}
    callToAction2={{ text: 'View Portfolio', href: '#Portfolio' }}
  
  >
    <Fragment slot="title">
    Hello! My name is<br/>
      <span class="text-accent dark:text-white highlight"> Lizzie Wilkinson</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
       I'm a UI Designer and Developer in love with Accessibility</span>  
    </Fragment>
  </Hero2>


 
  <ContentFW>
 
    <Fragment slot="content" class="w-full">
     
       <p>I'm driven by a mission to create digital experiences that are as inclusive to all humans as they are impactful. With an extensive background in both design and development,
         I specialize in crafting user-centric solutions that seamlessly fuse aesthetics with accessibility. As a neurodiverse individual
          with a unique perspective shaped by my own journey, I offer a distinct lens through which
           I approach every project. From pixel-perfect interfaces to comprehensive accessibility implementations, I bring a blend of creativity,
            technical prowess, and a commitment to creating a web that truly leaves no one behind.</p>

    </Fragment>


  </ContentFW>



  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

 


</Layout>
