---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import ContentFW from '~/components/widgets/ContentFW.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Lizzie Wilkinson - Designer and Developer | Kansas City, MO',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    callToAction={{ text: 'Download Resume', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:download' }}
    callToAction2={{ text: 'View Portfolio', href: '/Portfolio' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
    Hello! My name is<br/>
      <span class="text-accent dark:text-white highlight"> Lizzie Wilkinson</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
       Graphic Designer and Front End Developer </span>  
    </Fragment>
  </Hero2>


 
  <ContentFW
    tagline="Resume"
    title="Where I've worked">
 
    <Fragment slot="content" class="w-full">
     
       <p>I'm a User Experience Designer and Developer driven by a mission to create
        digital experiences that are as inclusive as they are impactful. With an extensive background in both design and development,
         I specialize in crafting user-centric solutions that seamlessly fuse aesthetics with accessibility. As a neurodiverse individual
          with a unique perspective shaped by my journey, I offer a distinct lens through which
           I approach every project. From pixel-perfect interfaces to comprehensive accessibility implementations, I bring a blend of creativity,
            technical prowess, and a commitment to creating a web that truly leaves no one behind.</p>
    </Fragment>


  </ContentFW>


 <ContentFW
    tagline="Gallery"
    title="Some Project Samples">
 
    <Fragment slot="content" class="w-full">
<div class="grid grid-cols-4 gap-4">
  <div>01</div>
<div>01</div>
<div>01</div>
<div>09</div>
</div>
</Fragment>
</ContentFW>
  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('~/assets/images/AlphanamelClear.jpg'),
      alt: 'Alphanamel Clear Coat Label',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-purple-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    tagline="FAQs"
    items={[
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: "What's an example of when you changed your mind?",
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />


</Layout>
