---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import ContentFW from '~/components/widgets/ContentFW.astro';


const metadata = {
  title: 'Lizzie Wilkinson - Designer and Developer | Kansas City, MO',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    callToAction={{ text: 'Download Resume', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:download' }}
    callToAction2={{ text: 'View Portfolio', href: '/Portfolio' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
    Hello! My name is<br/>
      <span class="text-accent dark:text-white highlight"> Lizzie Wilkinson</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
       I'm an Accessibility Forward User Experience Developer</span>  
    </Fragment>
  </Hero2>


 
  <ContentFW>
 
    <Fragment slot="content" class="w-full">
     
       <p>I'm a User Experience Designer and Developer driven by a mission to create digital experiences that are as inclusive to all humans as they are impactful. With an extensive background in both design and development,
         I specialize in crafting user-centric solutions that seamlessly fuse aesthetics with accessibility. As a neurodiverse individual
          with a unique perspective shaped by my own journey, I offer a distinct lens through which
           I approach every project. From pixel-perfect interfaces to comprehensive accessibility implementations, I bring a blend of creativity,
            technical prowess, and a commitment to creating a web that truly leaves no one behind.</p>

    </Fragment>


  </ContentFW>



  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Fuck this is annoying',
        callToAction={{ text: 'Download Resume', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:download' }}
      },
      {
        title: 'Why do we overthink every damn thing',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('~/assets/images/AlphanamelClear.jpg'),
      alt: 'Alphanamel Clear Coat Label',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-purple-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


 


</Layout>
