---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import ContentFW from '~/components/widgets/ContentFW.astro';
import Layout from '~/layouts/PageLayout.astro';
import Note from '~/components/widgets/Note.astro';


const metadata = {
  title: 'Lizzie Wilkinson - Accessibility Forward Designer and Developer | Kansas City, MO',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    callToAction={{ download text: 'Download Resume', target: '_blank', href: '/assets/LWilkinson-Resume-2023.pdf', icon: 'tabler:download' }}
    callToAction2={{ text: 'View Portfolio', href: '#Portfolio' }}
  
  >
    <Fragment slot="title">
    Hello! My name is<br/>
      <span class="text-accent dark:text-white highlight">Lizzie Wilkinson</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
       I'm a UI Designer and Developer in love with Accessibility</span>  
    </Fragment>
  </Hero2>


 <Note />


  <ContentFW
  aria-role="introduction"
  >
 
    <Fragment  slot="content" class="w-full">
     
       <p>I'm a neurodiverse individual with a unique perspective shaped by my own journey, and I offer a distinct lens through which I approach every project. Driven by a mission to create digital experiences that are as inclusive to all humans as they are impactful, and with an extensive background in both design and development,
         I specialize in crafting user-centric solutions that seamlessly fuse aesthetics with accessibility. From pixel-perfect interfaces to comprehensive accessibility implementations, I bring a blend of creativity,
            technical prowess, and a commitment to creating a web that truly leaves no one behind.</p>

    </Fragment>


  </ContentFW>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="About Me"
    items={[
          {
        title: 'HanesBrands, Inc - Enhanced Website Acessibility',
        description:
          'Accomplishments: Improved web accessibility by 55+ points through co-developing an accessibility forward templating and design system and utility CSS framework. Led documentation and implementation of accessibility processes and styling standards for development teams. Advocated for and integrated WCAG 2.1 compliance across multiple web properties and applications.',
      },
      {
        title: 'Developed Processes & Documentation',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Alpha 6 Corporation - Increased monthly website sales by over 150%',
        description:
          'Transitioned Boutique Art Supply company from free e-commerce site to custom WordPress and WooCommerce build. Implemented wholesale management system, customer profiles and wishlists, and artist blog. Increased average D2C sales to over $35k a month.',
      },

    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Get to Know Me</h3>
      
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-purple-200 dark:bg-transparent"></div>
    </Fragment>
  </Content>
     

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'HanesBrands, Inc - Enhanced Website Acessibility',
        description:
          'Accomplishments: Improved web accessibility by 55+ points through co-developing an accessibility forward templating and design system and utility CSS framework. Led documentation and implementation of accessibility processes and styling standards for development teams. Advocated for and integrated WCAG 2.1 compliance across multiple web properties and applications.',
      },
      {
        title: 'Developed Processes & Documentation',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Alpha 6 Corporation - Increased monthly website sales by over 150%',
        description:
          'Transitioned Boutique Art Supply company from free e-commerce site to custom WordPress and WooCommerce build. Implemented wholesale management system, customer profiles and wishlists, and artist blog. Increased average D2C sales to over $35k a month.',
      },
   
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Some Professional Accomplishments</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-purple-200 dark:bg-transparent"></div>
    </Fragment>
  </Content>

 


</Layout>
